.about {
  text-align: center;
  padding-top: 5%;
}
.about h1 {
  font-size: 220%;
  margin-bottom: 30px;
}
.div {
  word-wrap: break-word;
  text-align: center;
}
.div pre {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 120%;
  margin-bottom: 30px;
}
.div p {
  margin-top: 30px;
  font-size: 120%;
  margin-top: -16px;
  display: inline-block;
}
.flex {
  position: relative;
  padding-left: 3%;
  text-align: center;
  display: flex;
  align-items: center;
}
.imganda {
  display: inline-block;
  margin-left: 20px;
  text-align: center;
}
.imganda a {
  margin-top: 32px;
  margin-right: 20px;
}
.foot {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 30px;
  background-color: #303030;
  font-size: 120%;
}
.credit {
  margin-left: 35%;
}
p a {
  color: red;
  text-decoration: underline;
}
