.about {
  padding-top: 4%;
}
.about h3 {
  font-size: 220%;
  margin-bottom: 30px;
  margin-left: 0%;
}
.div {
  word-wrap: break-word;
  z-index: 1;
  background-color: #303030;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
}
.div .write {
  width: 75%;
  padding-left: 2%;
  padding-right: 4%;
  padding-top: 2%;
}
.write a {
  margin-top: 20px;
  padding: 8px 25px;
  background-color: white;
  color: black;
  font-weight: bold;
}
.div img {
  width: 25%;
  height: inherit;
}
.div pre {
  font-size: 120%;
  margin-bottom: 50px;
}
.div pre {
  margin-top: 30px;
  font-size: 120%;
  margin-top: -16px;
  line-height: 1.74;
  display: inline-block;
}
.flex {
  position: relative;
  padding-left: 3%;
  text-align: center;
  display: flex;
  align-items: center;
}
.imganda {
  display: inline-block;
  margin-left: 20px;
  text-align: center;
}
.imganda a {
  margin-top: 32px;
  margin-right: 20px;
}
.foot {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 30px;
  background-color: #303030;
  font-size: 120%;
}
.credit {
  margin-left: 35%;
}
p a {
  color: red;
  text-decoration: underline;
}
