.login {
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
}
label {
  font-size: 120%;
}
input,
textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: black;
  padding: 10px;
  color: white;
}
h2 {
  color: red;
}
button {
  padding: 10px 5px;
  width: 20%;
  text-align: center;
  margin-top: 20px;
  background-color: red;
  font-size: 110%;
  padding-right: 10px;
  font-weight: bold;
  border-radius: 10px;
}
.navLink {
  font-size: 110%;
}
