.newpost {
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}
label {
  font-size: 120%;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid white;
  background-color: black;
  padding: 10px;
  color: white;
}
select {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
  font-size: larger;
  margin-top: 10px;
}
select option {
  color: white;
  font-size: larger;
  background-color: black;
}
hr {
  margin-bottom: 20px;
}
button {
  padding: 10px 5px;
  width: 20%;
  text-align: center;
  margin-top: 20px;
  background-color: red;
  font-size: 110%;
  font-weight: bold;
  border-radius: 10px;
}
