.profile {
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
}
.pic {
  border-radius: 50%;
  width: "30px";
  height: "50px";
  display: inline-block;
  float: left;
}
.pro {
  width: 100%;
  display: flex;
}
.flex1 h2 {
  display: inline-block;
  margin-top: 60px;
  margin-left: 20px;
  text-align: center;
}
.flex1 {
  width: 50%;
}
.flex2 {
  margin-top: 150px;
  width: 80%;
}
.log {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}
.log:hover {
  background-color: grey;
  padding: 10px;
  border-radius: 10px;
}
.log img {
  margin-right: 10px;
}
.link {
  padding: 10px;
  margin-left: 50%;
  background-color: red;
  border-radius: 10px;
  text-decoration: none;
}
.link1 {
  padding: 10px;
  margin-left: 10px;
  background-color: red;
  border-radius: 10px;
  text-decoration: none;
}
.active {
  padding: 10px;
  margin-left: 50%;
  background-color: grey;
  border-radius: 10px;
  text-decoration: none;
  color: red;
}
.active1 {
  padding: 10px;
  margin-left: 10px;
  background-color: grey;
  border-radius: 10px;
  text-decoration: none;
  color: red;
}

.catpo {
  display: flex;
  margin-top: 50px;
}
.cat {
  width: 30%;
  margin-right: 20px;
}
.navLink {
  text-decoration: none;
}
.pos {
  width: 70%;
}
.post {
  width: auto;
}
.cat li {
  list-style-type: none;
  padding: 10px;
  font-size: 130%;
  font-weight: bold;
  cursor: pointer;
}
.cat h4 {
  font-size: 170%;
  font-weight: bolder;
  color: red;
  padding: 10px;
}
.delDiv1 {
  border-radius: 10px;
  color: red;
  font-weight: bold;
  position: fixed;
  top: 35%;
  bottom: 35%;
  text-align: left;
  background-color: grey;
  z-index: 1000;
  right: 38%;
  width: 25%;
  height: 220px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10px;
  background-color: white;
  padding: 10px;
  text-align: center;
}
.delDiv1 p {
  color: black;
}
.delDiv1 .styleP1 {
  color: black;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}
.delDiv1 .button {
  float: end;
  width: 20%;
  background-color: red;
  color: white;
  padding: 5px;
  border: 1px solid white;
  margin-bottom: 0px;
}
.hr {
  margin-bottom: 0px;
}
.delDiv1 .button1 {
  margin-top: 0px;
  margin-left: 48%;
  width: 20%;
  color: grey;
  background-color: none;
  border: none;
  margin-bottom: 0px;
  background: none;
}
.delDiv1 .styleP2 {
  color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}
