.span {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 120%;
  margin-top: -3px;
  margin-left: 10px;
}

.item {
  margin-bottom: 10px;
  display: flex;
}
.sideMenu {
  top: auto;
  position: absolute;
  right: 2%;
  background-color: grey;
  z-index: 1000;
  margin-top: -20px;
  margin-left: -30px;
  width: 300px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #181818;
  box-shadow: 2px 2px grey;
}
.watAndFav {
  position: fixed;
  bottom: 2%;
  background-color: grey;
  z-index: 1000;
  text-align: center;
  left: 0%;
  width: 400px;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #181818;
  box-shadow: 2px 2px grey;
  padding: 10px;
  text-align: center;
}
.spanNav {
  text-decoration: none;
}
